.destination-div {
    display: flex;
    justify-content: space-evenly;
    font-family: "Pridi", serif;
    font-weight: 200;
    font-style: normal;
}

.train-route {
    display: flex;
    justify-content: space-evenly;
    font-family: "Pridi", serif;
    font-weight: 200;
    font-style: normal;
}

span {
    color: darkgray;
}

.select-seats-btn {
    height: 50px;
    margin-top: 25px;
    border-radius: 8%;
}

.select-seats-btn:hover {
    color: chartreuse;
}

.no-routes{
    color: red;
    text-align: center;
    font-family: "Pridi", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}