.customer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-btn {
    margin-top: 20px;
}

.ticket div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
}

.ticket span {
    color: darkgrey;
}