.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.nav-bar a {
    display: block;
    width: 100%;
    background-color: burlywood;
    border: 1px solid rgb(240, 240, 208);
}

.nav-bar a:hover {
    color: aqua;
}

.header {
    height: 50px;
    text-align: center;
}

.side-bar {
    height: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.main-content {
    height: 50px;
    grid-column-start: -2;
    grid-column-end: -1;
}