.routes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    font-family: "Pridi", serif;
    font-weight: 200;
    font-style: normal;
    width: 90%;
    
}

.train-routes {
    border-bottom: solid 1px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: row;    
    gap: 50px;
}

.routes h2 {
    margin-left: 140px;
    width: 100%;
}

.routes button {
    float: right;
    margin-right: 60px;
    border-radius: 10%;
    max-height: fit-content;
    
}

.routes button:hover {
    color: chartreuse;
}
.routes-header {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 50px;
    color: darkgrey;
}

.routes-header h3 {
    margin-left: 140px;
    border-bottom: 1px solid darkgray;
    font-size: 25px;
}