

header {
  padding-top: 20px;
  background-color: #b0954b;
  font-size: 20px;
  color: white;
  border: 3px solid #e8d8ac;
  text-shadow: 2px 2px black;
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;

}

header h1 {
  text-align: center;
}



.sidenav {
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#d4b35e; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
}

.sidenav a {
  margin-top: 20px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px black;
}

.sidenav a:hover {
  color: black;
}

.open-btn {
  background-color: #d4b35e;
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; 
  transition: background-color 0.3s;

}
  
.open-btn:hover {
  background-color: #b0954b; 
}
  
  
.close-btn {
  background-color: #d4b35e; 
  color: #ffffff; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px; 
  margin-top: 10px; 
  align-self: flex-end; 
  transition: background-color 0.3s;
}
  
.close-btn:hover {
  background-color: #b0954b; 
}

footer {
  height: 50px;
}
  